{% extends 'mtrms/base.html' %}
{% block title %}{% endblock title %}
{% block body %}
<div class="container">
    <h1>Welcome, {{first_name}}</h1>
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Appointments</h5>
            <p class="card-text">View and manage your appointments.</p>
            <a href="{%url 'mtrms:view-appointments' %}" class="btn btn-primary">Manage Appointments</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Conduct Tests</h5>
            <p class="card-text">Conduct medical tests for patients.</p>
            <a href="#" class="btn btn-primary">Conduct Tests</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Publish Reports</h5>
            <p class="card-text">Publish medical reports and results.</p>
            <a href="{%url 'mtrms:enter-report' %}" class="btn btn-primary">Publish Reports</a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock body %}