{% extends 'mtrms/base.html' %}
{% block title %}{% endblock title %}
{% block head %}{% endblock head %}
{% block body %}
<div class="container">
    <h1>Welcome, {{first_name}}</h1>
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Book Appointment</h5>
            <p class="card-text">Schedule an appointment with a doctor.</p>
            <a href="#" class="btn btn-primary">Book Now</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">View Tests</h5>
            <p class="card-text">Check the status of your medical tests.</p>
            <a href="#" class="btn btn-primary">View Tests</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">View Reports</h5>
            <p class="card-text">Access your medical reports and records.</p>
            <a href="#" class="btn btn-primary">View Reports</a>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock body %}